# AttivitÃ  3 cfu

**Dunn Index**

In [1]:
import numpy as np
import pandas as pd

In [2]:
pip install validclust

Requirement already satisfied: validclust in c:\users\samsung\anaconda3\lib\site-packages (0.1.1)
Requirement already satisfied: scikit-learn in c:\users\samsung\anaconda3\lib\site-packages (from validclust) (1.5.1)
Requirement already satisfied: packaging in c:\users\samsung\anaconda3\lib\site-packages (from validclust) (21.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\samsung\anaconda3\lib\site-packages (from validclust) (1.26.4)
Requirement already satisfied: seaborn in c:\users\samsung\anaconda3\lib\site-packages (from validclust) (0.11.2)
Requirement already satisfied: pandas in c:\users\samsung\anaconda3\lib\site-packages (from validclust) (1.4.2)
Requirement already satisfied: matplotlib in c:\users\samsung\anaconda3\lib\site-packages (from validclust) (3.5.1)
Requirement already satisfied: cycler>=0.10 in c:\users\samsung\anaconda3\lib\site-packages (from matplotlib->validclust) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\samsung\anaconda3\lib\site-packages (from matplotlib->validclust) (1.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\samsung\anaconda3\lib\site-packages (from matplotlib->validclust) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\samsung\anaconda3\lib\site-packages (from matplotlib->validclust) (9.0.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\samsung\anaconda3\lib\site-packages (from matplotlib->validclust) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\samsung\anaconda3\lib\site-packages (from matplotlib->validclust) (4.25.0)
Requirement already satisfied: six>=1.5 in c:\users\samsung\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->validclust) (1.16.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\samsung\anaconda3\lib\site-packages (from pandas->validclust) (2021.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\samsung\anaconda3\lib\site-packages (from scikit-learn->validclust) (1.13.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\samsung\anaconda3\lib\site-packages (from scikit-learn->validclust) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\samsung\anaconda3\lib\site-packages (from scikit-learn->validclust) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install clusteval

Requirement already satisfied: clusteval in c:\users\samsung\anaconda3\lib\site-packages (2.2.1)
Requirement already satisfied: numpy in c:\users\samsung\anaconda3\lib\site-packages (from clusteval) (1.26.4)
Requirement already satisfied: matplotlib in c:\users\samsung\anaconda3\lib\site-packages (from clusteval) (3.5.1)
Requirement already satisfied: scatterd in c:\users\samsung\anaconda3\lib\site-packages (from clusteval) (1.3.7)
Requirement already satisfied: tqdm in c:\users\samsung\anaconda3\lib\site-packages (from clusteval) (4.64.0)
Requirement already satisfied: colourmap in c:\users\samsung\anaconda3\lib\site-packages (from clusteval) (1.1.17)
Requirement already satisfied: pandas in c:\users\samsung\anaconda3\lib\site-packages (from clusteval) (1.4.2)
Requirement already satisfied: seaborn in c:\users\samsung\anaconda3\lib\site-packages (from clusteval) (0.11.2)
Requirement already satisfied: pypickle in c:\users\samsung\anaconda3\lib\site-packages (from clusteval) (1.1.0)
Requirement already satisfied: scikit-learn in c:\users\samsung\anaconda3\lib\site-packages (from clusteval) (1.5.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\samsung\anaconda3\lib\site-packages (from matplotlib->clusteval) (1.3.2)
Requirement already satisfied: packaging>=20.0 in c:\users\samsung\anaconda3\lib\site-packages (from matplotlib->clusteval) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\users\samsung\anaconda3\lib\site-packages (from matplotlib->clusteval) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\samsung\anaconda3\lib\site-packages (from matplotlib->clusteval) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\samsung\anaconda3\lib\site-packages (from matplotlib->clusteval) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\samsung\anaconda3\lib\site-packages (from matplotlib->clusteval) (3.0.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\samsung\anaconda3\lib\site-packages (from matplotlib->clusteval) (4.25.0)
Requirement already satisfied: six>=1.5 in c:\users\samsung\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->clusteval) (1.16.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\samsung\anaconda3\lib\site-packages (from pandas->clusteval) (2021.3)
Requirement already satisfied: datazets in c:\users\samsung\anaconda3\lib\site-packages (from scatterd->clusteval) (0.1.9)
Requirement already satisfied: requests in c:\users\samsung\anaconda3\lib\site-packages (from datazets->scatterd->clusteval) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\samsung\anaconda3\lib\site-packages (from requests->datazets->scatterd->clusteval) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\samsung\anaconda3\lib\site-packages (from requests->datazets->scatterd->clusteval) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\samsung\anaconda3\lib\site-packages (from requests->datazets->scatterd->clusteval) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\samsung\anaconda3\lib\site-packages (from requests->datazets->scatterd->clusteval) (3.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\samsung\anaconda3\lib\site-packages (from scikit-learn->clusteval) (3.5.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\samsung\anaconda3\lib\site-packages (from scikit-learn->clusteval) (1.4.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\samsung\anaconda3\lib\site-packages (from scikit-learn->clusteval) (1.13.0)
Requirement already satisfied: colorama in c:\users\samsung\anaconda3\lib\site-packages (from tqdm->clusteval) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from sklearn.cluster import KMeans
from validclust import dunn
from sklearn.metrics import pairwise_distances
from clusteval import clusteval

# Artificial data

**Test 1**

In [5]:
n_righe = 150
n_colonne = 150

data = [[0]*n_colonne for i in range(n_righe)]
data_2 = [[1]*n_colonne for i in range(n_righe)]

df2 = pd.DataFrame(data_2)
df = pd.DataFrame(data)

test1 = pd.concat([df, df2], axis=0, ignore_index=True)

test1

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
296,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
297,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
298,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
299,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [6]:
kmeans = KMeans(n_clusters=2, random_state=42)
#kmeans.fit(test1)
#test1['Cluster'] = kmeans.labels_
labels = kmeans.fit_predict(test1)

dist = pairwise_distances(test1)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = inf

C:\Users\Samsung\anaconda3\lib\site-packages\validclust\indices.py:36: RuntimeWarning: divide by zero encountered in scalar divide
  return min(inter_dists) / max(intra_dists)

In [7]:
kmeans = KMeans(n_clusters=2, random_state=100)
#kmeans.fit(test1)
#test1['Cluster'] = kmeans.labels_
labels = kmeans.fit_predict(test1)

dist = pairwise_distances(test1)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = inf

C:\Users\Samsung\anaconda3\lib\site-packages\validclust\indices.py:36: RuntimeWarning: divide by zero encountered in scalar divide
  return min(inter_dists) / max(intra_dists)

**Test 2**

In [8]:
n_righe = 150
n_colonne = 150
n_righe_noise = 3

data = [[0]*n_colonne for i in range(n_righe)]
data_2 = [[1]*n_colonne for i in range(n_righe)]
rumore =  np.random.rand(n_righe_noise, n_colonne)

df2 = pd.DataFrame(data_2)
df = pd.DataFrame(data)

test2 = pd.concat([df, df2], axis=0, ignore_index=True)

indici_random = np.random.choice(test2.index, size=n_righe_noise, replace=False)
test2.loc[indici_random] = rumore

test2

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
296,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
297,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
298,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
299,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [9]:
kmeans = KMeans(n_clusters=2, random_state=42)
#kmeans.fit(test1)
#test1['Cluster'] = kmeans.labels_
labels = kmeans.fit_predict(test2)

dist = pairwise_distances(test2)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.6850196605272264

In [41]:
kmeans = KMeans(n_clusters=4, random_state=42)
#kmeans.fit(test1)
#test1['Cluster'] = kmeans.labels_
labels = kmeans.fit_predict(test2)

dist = pairwise_distances(test2)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.9748622824576124

The parameter random state doesn't change the valuation

**Test 3**

In [13]:
n_righe = 150
n_colonne = 150
n_righe_noise = 6

data = [[0]*n_colonne for i in range(n_righe)]
data_2 = [[1]*n_colonne for i in range(n_righe)]
rumore =  np.random.rand(n_righe_noise, n_colonne)

df2 = pd.DataFrame(data_2)
df = pd.DataFrame(data)

test3 = pd.concat([df, df2], axis=0, ignore_index=True)

indici_random = np.random.choice(test3.index, size=n_righe_noise, replace=False)
test3.loc[indici_random] = rumore

test3

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
296,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
297,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
298,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
299,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [15]:
kmeans = KMeans(n_clusters=2, random_state=42)
#kmeans.fit(test1)
#test1['Cluster'] = kmeans.labels_
labels = kmeans.fit_predict(test3)

dist = pairwise_distances(test3)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.6893524633589149

In [16]:
kmeans = KMeans(n_clusters=4, random_state=42)
#kmeans.fit(test1)
#test1['Cluster'] = kmeans.labels_
labels = kmeans.fit_predict(test3)

dist = pairwise_distances(test3)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.9068762468388777

Changing the nummber of clusters the valuation is much better

In [17]:
kmeans = KMeans(n_clusters=6, random_state=42)
#kmeans.fit(test1)
#test1['Cluster'] = kmeans.labels_
labels = kmeans.fit_predict(test3)

dist = pairwise_distances(test3)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.919086078094535

**Test 4**

In [18]:
n_righe = 150
n_colonne = 150
n_righe_noise = 12

data = [[0]*n_colonne for i in range(n_righe)]
data_2 = [[1]*n_colonne for i in range(n_righe)]
rumore =  np.random.rand(n_righe_noise, n_colonne)

df2 = pd.DataFrame(data_2)
df = pd.DataFrame(data)

test4 = pd.concat([df, df2], axis=0, ignore_index=True)

indici_random = np.random.choice(test4.index, size=n_righe_noise, replace=False)
test4.loc[indici_random] = rumore

test4

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
296,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
297,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
298,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
299,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [19]:
kmeans = KMeans(n_clusters=4, random_state=42)
#kmeans.fit(test1)
#test1['Cluster'] = kmeans.labels_
labels = kmeans.fit_predict(test4)

dist = pairwise_distances(test4)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.8140439047475319

In [20]:
kmeans = KMeans(n_clusters=7, random_state=42)
#kmeans.fit(test1)
#test1['Cluster'] = kmeans.labels_
labels = kmeans.fit_predict(test4)

dist = pairwise_distances(test4)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.8207321307688131

**Test 5**

In [21]:
n_righe = 150
n_colonne = 150
n_righe_noise = 24

data = [[0]*n_colonne for i in range(n_righe)]
data_2 = [[1]*n_colonne for i in range(n_righe)]
rumore =  np.random.rand(n_righe_noise, n_colonne)

df2 = pd.DataFrame(data_2)
df = pd.DataFrame(data)

test5 = pd.concat([df, df2], axis=0, ignore_index=True)

indici_random = np.random.choice(test5.index, size=n_righe_noise, replace=False)
test5.loc[indici_random] = rumore

test5

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
296,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
297,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
298,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
299,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [42]:
kmeans = KMeans(n_clusters=2, random_state=42)
#kmeans.fit(test1)
#test1['Cluster'] = kmeans.labels_
labels = kmeans.fit_predict(test5)

dist = pairwise_distances(test5)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.6312134006690853

In [44]:
kmeans = KMeans(n_clusters=8, random_state=42)
#kmeans.fit(test1)
#test1['Cluster'] = kmeans.labels_
labels = kmeans.fit_predict(test5)

dist = pairwise_distances(test5)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.8350613724439404

**Test 6**

In [25]:
n_righe = 150
n_colonne = 150
n_righe_noise = 48

data = [[0]*n_colonne for i in range(n_righe)]
data_2 = [[1]*n_colonne for i in range(n_righe)]
rumore =  np.random.rand(n_righe_noise, n_colonne)

df2 = pd.DataFrame(data_2)
df = pd.DataFrame(data)

test7 = pd.concat([df, df2], axis=0, ignore_index=True)

indici_random = np.random.choice(test7.index, size=n_righe_noise, replace=False)
test7.loc[indici_random] = rumore

test7

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,0.645758,0.915548,0.677859,0.216786,0.875373,0.182553,0.173766,0.041426,0.017246,0.653617,...,0.290768,0.543588,0.171438,0.889166,0.231758,0.074170,0.012956,0.039569,0.377040,0.414253
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.622201,0.502696,0.422307,0.527469,0.050481,0.991343,0.707893,0.155120,0.627317,0.506092,...,0.752941,0.717412,0.455245,0.666277,0.812688,0.536593,0.563014,0.287181,0.909524,0.389355
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.185418,0.195682,0.536189,0.814497,0.465374,0.464184,0.007795,0.197656,0.556306,0.247670,...,0.127380,0.109812,0.772236,0.083342,0.746249,0.991684,0.548788,0.706834,0.304846,0.818338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.591657,0.408972,0.296673,0.571105,0.252462,0.036017,0.052765,0.549086,0.134766,0.417585,...,0.208503,0.252105,0.153329,0.853823,0.935167,0.352649,0.805368,0.688737,0.431434,0.430723
296,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
297,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
298,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
299,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [26]:
kmeans = KMeans(n_clusters=2, random_state=42)

labels = kmeans.fit_predict(test7)

dist = pairwise_distances(test7)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.8762023459691429

In [46]:
kmeans = KMeans(n_clusters= 10, random_state=42)

labels = kmeans.fit_predict(test7)

dist = pairwise_distances(test7)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.7793706133887786

Worse dunn index with a major number of clusters

**Test 7**

In [28]:
n_righe = 150
n_colonne = 150
n_righe_noise = 96

data = [[0]*n_colonne for i in range(n_righe)]
data_2 = [[1]*n_colonne for i in range(n_righe)]
rumore =  np.random.rand(n_righe_noise, n_colonne)

df2 = pd.DataFrame(data_2)
df = pd.DataFrame(data)

test8 = pd.concat([df, df2], axis=0, ignore_index=True)

indici_random = np.random.choice(test8.index, size=n_righe_noise, replace=False)
test8.loc[indici_random] = rumore

test8

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,0.596479,0.800307,0.876693,0.130075,0.782584,0.400255,0.067680,0.227761,0.303546,0.921938,...,0.537306,0.568019,0.460628,0.482070,0.539784,0.789702,0.982399,0.648669,0.480057,0.360239
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.674303,0.940406,0.257865,0.545373,0.717738,0.003749,0.459147,0.147601,0.044157,0.633244,...,0.894354,0.885017,0.585398,0.610039,0.285146,0.034238,0.096403,0.238791,0.786334,0.364524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.675423,0.923277,0.313457,0.195611,0.595085,0.539755,0.923531,0.809984,0.247716,0.809550,...,0.583714,0.446947,0.728608,0.420559,0.980072,0.587966,0.505754,0.689623,0.129259,0.442446
296,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
297,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
298,0.148711,0.488826,0.382328,0.553378,0.316921,0.500871,0.442087,0.196897,0.481514,0.438349,...,0.711134,0.846374,0.195802,0.908582,0.556628,0.156084,0.100282,0.249961,0.988893,0.249345
299,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
kmeans = KMeans(n_clusters=2, random_state=42)

labels = kmeans.fit_predict(test8)

dist = pairwise_distances(test8)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.8296672781730522

In [48]:
kmeans = KMeans(n_clusters=8, random_state=42)

labels = kmeans.fit_predict(test8)

dist = pairwise_distances(test8)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.7332843847691304

Again.

**Test 8**

In [31]:
n_righe = 150
n_colonne = 150
n_righe_noise = 150

data = [[0]*n_colonne for i in range(n_righe)]
data_2 = [[1]*n_colonne for i in range(n_righe)]
rumore =  np.random.rand(n_righe_noise, test1.shape[1])

df2 = pd.DataFrame(data_2)
df = pd.DataFrame(data)

test9 = pd.concat([df, df2], axis=0, ignore_index=True)

indici_random = np.random.choice(test9.index, size=n_righe_noise, replace=False)
test9.loc[indici_random] = rumore

test9

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,0.385356,0.958156,0.069340,0.414607,0.086392,0.386976,0.219503,0.865963,0.767920,0.882910,...,0.564377,0.456177,0.008608,0.461538,0.815563,0.092014,0.496682,0.015381,0.348679,0.441207
1,0.705868,0.138266,0.946105,0.012991,0.708899,0.111758,0.781138,0.642629,0.639306,0.872566,...,0.864099,0.276877,0.102664,0.793298,0.145817,0.548932,0.178276,0.034966,0.284189,0.901942
2,0.317363,0.300374,0.879294,0.806124,0.679891,0.831938,0.672007,0.306521,0.851980,0.773511,...,0.465233,0.227238,0.436344,0.004624,0.281549,0.589411,0.990472,0.721222,0.049768,0.168157
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.747488,0.398044,0.497290,0.093986,0.896345,0.606068,0.170588,0.669685,0.026182,0.982411,...,0.538081,0.785633,0.764728,0.634085,0.258370,0.256568,0.865883,0.144341,0.380686,0.709025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
296,0.846056,0.950263,0.656255,0.873115,0.515181,0.382997,0.523522,0.538887,0.146642,0.121157,...,0.204358,0.820499,0.275416,0.486105,0.075094,0.975146,0.547717,0.484306,0.152671,0.224381
297,0.718767,0.137931,0.592038,0.570641,0.192364,0.697475,0.724662,0.970475,0.107109,0.089857,...,0.773376,0.709377,0.838609,0.854614,0.325929,0.330381,0.128276,0.529376,0.952144,0.957428
298,0.765990,0.488591,0.514502,0.456045,0.831184,0.125696,0.352966,0.575966,0.345279,0.034215,...,0.782611,0.117602,0.146861,0.292380,0.417132,0.319116,0.480663,0.652509,0.799144,0.298009
299,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [32]:
kmeans = KMeans(n_clusters=2, random_state=42)

labels = kmeans.fit_predict(test9)

dist = pairwise_distances(test9)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.7914787008705939

In [49]:
kmeans = KMeans(n_clusters=12, random_state=42)

labels = kmeans.fit_predict(test9)

dist = pairwise_distances(test9)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.7284999488750646

**Test 9**

In [35]:
n_righe = 150
n_colonne = 150
n_righe_noise = 270

data = [[0]*n_colonne for i in range(n_righe)]
data_2 = [[1]*n_colonne for i in range(n_righe)]
rumore =  np.random.rand(n_righe_noise, test1.shape[1])

df2 = pd.DataFrame(data_2)
df = pd.DataFrame(data)

test10 = pd.concat([df, df2], axis=0, ignore_index=True)

indici_random = np.random.choice(test10.index, size=n_righe_noise, replace=False)
test10.loc[indici_random] = rumore

test10

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,0.107996,0.819079,0.288027,0.769494,0.898080,0.845893,0.752276,0.595637,0.201462,0.857903,...,0.703215,0.629790,0.674987,0.054511,0.106038,0.365588,0.226936,0.153794,0.573298,0.150112
1,0.228197,0.763119,0.138136,0.307317,0.439078,0.247961,0.629674,0.990566,0.345392,0.574683,...,0.562414,0.832327,0.079065,0.703888,0.505424,0.044595,0.503444,0.947827,0.262856,0.863856
2,0.036728,0.893207,0.872451,0.432155,0.058343,0.921157,0.182419,0.252843,0.052979,0.168373,...,0.727943,0.826785,0.176683,0.659425,0.800807,0.259461,0.296190,0.776253,0.563682,0.955339
3,0.210921,0.370024,0.905116,0.300439,0.771679,0.698289,0.624180,0.026709,0.541395,0.631128,...,0.507471,0.679025,0.995932,0.447722,0.554387,0.640312,0.723033,0.934645,0.486088,0.509112
4,0.601669,0.963013,0.413907,0.507817,0.056620,0.289874,0.088637,0.478756,0.550537,0.372084,...,0.622585,0.699946,0.846557,0.756025,0.124547,0.057011,0.346805,0.939607,0.277847,0.915112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.243248,0.854934,0.704337,0.342802,0.732875,0.969470,0.396378,0.861162,0.134472,0.852692,...,0.147992,0.655976,0.604088,0.584280,0.474891,0.287025,0.552590,0.067272,0.368561,0.772706
296,0.239635,0.518002,0.510494,0.370511,0.587457,0.405287,0.913420,0.357266,0.596092,0.273730,...,0.252088,0.469710,0.021064,0.124408,0.194896,0.834305,0.003295,0.475591,0.412028,0.940703
297,0.623332,0.904671,0.993212,0.586256,0.819796,0.928572,0.123052,0.504014,0.700938,0.397115,...,0.668165,0.949195,0.829370,0.283272,0.366207,0.246932,0.838462,0.926678,0.866689,0.514527
298,0.863822,0.768690,0.677230,0.458606,0.287214,0.530019,0.168705,0.625762,0.869357,0.576153,...,0.764283,0.688962,0.851631,0.502080,0.366837,0.107443,0.598535,0.111342,0.457665,0.496682
299,0.204389,0.455352,0.721421,0.099425,0.929222,0.829125,0.405505,0.664816,0.678289,0.667302,...,0.454389,0.533485,0.401259,0.912805,0.929159,0.862624,0.827722,0.996867,0.975111,0.401885

In [50]:
kmeans = KMeans(n_clusters=2, random_state=42)

labels = kmeans.fit_predict(test10)

dist = pairwise_distances(test10)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.8108262957370552

In [55]:
kmeans = KMeans(n_clusters=7, random_state=42)

labels = kmeans.fit_predict(test10)

dist = pairwise_distances(test10)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.6753999505628344

**Test 10**

In [56]:
n_righe = 150
n_colonne = 150
n_righe_noise = 300

data = [[0]*n_colonne for i in range(n_righe)]
data_2 = [[1]*n_colonne for i in range(n_righe)]
rumore =  np.random.rand(n_righe_noise, test1.shape[1])

df2 = pd.DataFrame(data_2)
df = pd.DataFrame(data)

test11 = pd.concat([df, df2], axis=0, ignore_index=True)

indici_random = np.random.choice(test11.index, size=n_righe_noise, replace=False)
test11.loc[indici_random] = rumore

test11

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,0.339221,0.198775,0.836608,0.076858,0.396613,0.046032,0.430179,0.694831,0.048024,0.250934,...,0.586330,0.593435,0.047169,0.236757,0.281713,0.820520,0.321570,0.999661,0.304461,0.444128
1,0.017554,0.348106,0.483551,0.873337,0.511471,0.268830,0.694704,0.160844,0.381533,0.324095,...,0.408851,0.541037,0.286270,0.896594,0.859236,0.817675,0.374251,0.943208,0.692146,0.473631
2,0.945484,0.316455,0.089347,0.244669,0.690279,0.704532,0.949117,0.020424,0.275490,0.904636,...,0.645777,0.002961,0.549980,0.565846,0.100669,0.157402,0.472804,0.896824,0.678025,0.970161
3,0.938644,0.314040,0.492707,0.461116,0.799716,0.273933,0.941765,0.120026,0.626035,0.341395,...,0.757922,0.593747,0.379941,0.586850,0.877785,0.634371,0.719462,0.878517,0.282062,0.217849
4,0.199993,0.578284,0.189571,0.753947,0.428383,0.616969,0.197964,0.872700,0.865793,0.790911,...,0.729310,0.144037,0.666623,0.981950,0.746637,0.799273,0.049747,0.781076,0.530351,0.070869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.321586,0.808583,0.230437,0.004006,0.038220,0.893361,0.585513,0.322879,0.175832,0.003868,...,0.913887,0.284007,0.272435,0.252317,0.959686,0.328631,0.478071,0.094293,0.186924,0.937265
296,0.405749,0.676285,0.828310,0.327595,0.429508,0.049062,0.907125,0.760146,0.848703,0.419062,...,0.177816,0.173063,0.507011,0.045791,0.501302,0.630758,0.501748,0.552277,0.784925,0.448428
297,0.731892,0.039953,0.089840,0.471816,0.413763,0.539401,0.548555,0.244114,0.051047,0.027635,...,0.017971,0.852975,0.993321,0.990189,0.915456,0.170604,0.614890,0.643916,0.191590,0.603197
298,0.994854,0.472657,0.698584,0.989971,0.647836,0.651412,0.283486,0.580210,0.043103,0.185006,...,0.877736,0.136137,0.229112,0.004169,0.541824,0.204880,0.520696,0.301618,0.893411,0.784808
299,0.155551,0.176406,0.341600,0.041081,0.187720,0.827377,0.924511,0.529991,0.837805,0.644640,...,0.391790,0.786846,0.271278,0.876119,0.725313,0.315650,0.388087,0.245935,0.139694,0.880584

In [57]:
kmeans = KMeans(n_clusters=2, random_state=42)

labels = kmeans.fit_predict(test11)

dist = pairwise_distances(test11)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.6650239668816759

In [60]:
kmeans = KMeans(n_clusters=11, random_state=42)

labels = kmeans.fit_predict(test11)

dist = pairwise_distances(test11)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.6778053340948089

# Real data

In [61]:
dati = pd.read_csv('journal.pone.0148699_S1_Text_Sepsis_SIRS_EDITED.csv')
dati.head()

,Age,sex_woman,diagnosis_0EC_1M_2_AC,APACHE II,SOFA,CRP,WBCC,NeuC,LymC,EOC,NLCR,PLTC,MPV,Group,LOS-ICU,Mortality
0,23,0,2,14,0,0.02,10.48,8.66,1.22,40,7.1,176,10.0,0,1,0
1,53,0,2,10,3,9.00,19.16,16.28,0.62,0,26.3,280,10.8,0,1,0
2,83,0,2,8,4,11.91,12.60,9.91,0.72,0,13.8,98,9.2,0,1,0
3,35,0,2,3,0,7.38,7.70,5.97,0.94,20,6.4,254,7.9,0,1,0
4,86,0,2,17,2,4.97,10.64,9.73,0.78,0,12.5,133,11.8,0,1,0

In [62]:
dati.shape

(1257, 16)

In [65]:
kmeans = KMeans(n_clusters= 10, random_state=42)

labels = kmeans.fit_predict(dati)

dist = pairwise_distances(dati)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.015678574426722398

In [66]:
dati_2 = pd.read_csv('journal.pone.0175818_S1Dataset_Spain_cardiac_arrest_EDITED.csv')
dati_2

,Exitus,sex_woman,Age_years,Endotracheal_intubation,Functional_status,Asystole,Cardiac_arrest_at_home,Bystander,Time_min,Cardiogenic
0,1,0,33.0,1,3.0,1,1,1,6,1
1,1,1,39.0,1,3.0,1,1,1,11,1
2,1,0,49.0,1,3.0,0,0,1,24,0
3,0,0,49.0,1,3.0,0,1,1,8,1
4,1,0,50.0,1,3.0,0,0,1,16,1
...,...,...,...,...,...,...,...,...,...,...
417,1,0,72.0,1,3.0,0,1,1,10,1
418,1,0,63.0,1,3.0,1,1,1,20,1
419,1,0,69.0,1,2.0,1,0,0,10,1
420,1,0,65.0,1,3.0,0,1,0,16,0
421,1,0,52.0,1,3.0,1,1,0,6,0

In [86]:
dati_2.isnull().sum()

Exitus                     0
sex_woman                  0
Age_years                  4
Endotracheal_intubation    0
Functional_status          3
Asystole                   0
Cardiac_arrest_at_home     0
Bystander                  0
Time_min                   0
Cardiogenic                0
dtype: int64

In [90]:
dati_2 = dati_2.dropna()

In [95]:
kmeans = KMeans(n_clusters= 11, random_state=42)

labels = kmeans.fit_predict(dati_2)

dist = pairwise_distances(dati_2)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.03357671389365373

In [69]:
dati_3 = pd.read_csv('Takashi2019_diabetes_type1_dataset_preprocessed.csv')
dati_3

,age,duration.of.diabetes,body_mass_index,TDD,basal,bolus,HbA1c,eGFR,perc.body.fat,adiponectin,free.testosterone,SMI,grip.strength,knee.extension.strength,gait.speed,ucOC,OC,weight_kg,insulin_regimen_binary,sex_0man_1woman
0,31,17,22,43.7,6.3,37.4,6.3,82.9,0.2,14.3,0.8,6.9,30.3,18.2,0.8,19.1,49.6,54.625000,0,1
1,31,25,26,64.0,16.0,48.0,7.8,92.4,0.3,10.0,9.8,7.5,39.7,25.2,1.5,4.0,17.4,80.000000,1,0
2,32,26,21,27.4,10.5,16.9,5.8,84.9,0.2,16.1,1.1,6.1,18.4,18.2,1.2,2.0,10.8,54.800000,0,1
3,25,17,21,60.0,14.1,45.9,7.2,92.7,0.2,6.6,1.3,6.5,31.2,17.8,1.4,3.5,14.5,50.000000,1,1
4,39,35,33,61.0,21.3,39.6,7.6,108.6,0.4,13.8,10.0,8.3,42.1,23.9,1.3,2.5,12.2,101.666667,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,36,28,19,47.0,30.1,16.9,9.2,50.7,0.2,14.5,0.7,5.9,24.7,25.2,1.7,16.1,44.4,47.000000,1,1
63,47,34,25,28.0,7.0,21.0,6.9,76.8,0.3,11.8,5.3,7.3,25.6,13.4,1.5,2.1,12.9,56.000000,1,0
64,21,15,26,72.0,25.9,46.1,7.9,114.2,0.2,13.4,17.3,8.0,39.9,26.1,1.5,8.4,27.1,72.000000,1,0
65,36,29,24,34.0,16.0,18.0,6.8,93.7,0.2,10.8,8.0,8.0,54.5,29.2,1.7,4.8,17.0,68.000000,1,0
66,37,26,23,35.2,16.5,18.7,5.6,94.1,0.2,20.2,4.3,7.1,17.8,13.6,1.4,0.5,7.1,58.666667,0,1

In [75]:
kmeans = KMeans(n_clusters= 5, random_state=42)

labels = kmeans.fit_predict(dati_3)

dist = pairwise_distances(dati_3)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.18229649239979773

In [76]:
dati_4 = pd.read_csv('journal.pone.0158570_S2File_depression_heart_failure.csv')
dati_4

,id,Age (years),"Male (1=Yes, 0=No)",PHQ-9,Systolic BP (mm Hg),Estimated glomerular filtration rate,Ejection fraction (%),Serum sodium (mmol/l),Blood urea nitrogen (mg/dl),"Etiology HF(1=Yes, 0=No)",Prior diabetes mellitus,"Elevated level of BNP/NT-BNP (1=Yes, 0=No)",Time from HF to Death (days),"Death (1=Yes, 0=No)",Time from HF to hospitalization (days),"Hospitalized (1=Yes, 0=No)"
0,11,93,0,1,145.0,46.352457,60.50,137,26,1,1,1,679,1,134,1
1,12,99,1,8,115.0,32.827851,65.00,140,75,1,0,1,74,1,74,0
2,13,83,1,4,121.0,57.821591,65.00,141,28,0,0,1,730,0,224,1
3,15,86,1,4,113.0,63.469884,32.50,141,47,0,1,1,730,0,5,1
4,16,84,1,3,142.0,57.681188,58.00,137,32,0,1,1,730,0,730,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,602,50,1,3,143.0,79.094655,49.50,137,27,1,1,1,730,0,156,1
421,604,73,1,11,155.0,29.486806,58.00,139,42,0,0,1,730,0,730,0
422,606,63,1,17,135.0,113.901326,27.40,130,17,0,1,1,338,1,338,0
423,609,48,1,4,172.0,58.919011,16.83,140,34,0,0,1,730,0,730,0
424,612,54,0,25,134.0,40.644046,55.00,141,77,0,1,1,694,1,9,1

In [82]:
kmeans = KMeans(n_clusters= 9, random_state=42)

labels = kmeans.fit_predict(dati_4)

dist = pairwise_distances(dati_4)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.06825218473307273

In [79]:
dati_5 = pd.read_csv('10_7717_peerj_5665_dataYM2018_neuroblastoma.csv')
dati_5

,age,sex,site,stage,risk,time_months,autologous_stem_cell_transplantation,radiation,degree_of_differentiation,UH_or_FH,MYCN_status,surgical_methods,outcome
0,2.0,0,0,1.0,1,7,0,0,0,0,1,1,0.0
1,2.0,0,0,1.0,1,19,0,1,0,0,1,1,1.0
2,1.0,0,0,1.0,1,25,0,1,1,0,1,0,1.0
3,1.0,0,0,1.0,1,8,0,0,1,0,1,1,0.0
4,1.0,0,0,1.0,1,47,1,1,1,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,0.0,0,0,0.0,0,32,0,0,0,0,1,0,0.0
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,NaN,,,NaN,,,,,,,,,NaN
171,NaN,NaN,,NaN,NaN,NaN,,,,,NaN,NaN,NaN
172,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
dati_5.isnull().sum()

age                                     4
sex                                     3
site                                    1
stage                                   4
risk                                    3
time_months                             3
autologous_stem_cell_transplantation    2
radiation                               2
degree_of_differentiation               2
UH_or_FH                                2
MYCN_status                             3
surgical_methods                        3
outcome                                 4
dtype: int64

In [101]:
dati_5 = dati_5.dropna()

In [104]:
kmeans = KMeans(n_clusters= 6, random_state=42)

labels = kmeans.fit_predict(dati_5)

dist = pairwise_distances(dati_5)
index = dunn(dist, labels)

print('Dunn Index =', index)

Dunn Index = 0.056033181468052584